

  .menu{
    display: none;
  }

.root{
  flex-grow: 1;
  margin-right: 50px;
  width: 25%;
}
.menuButton{
  display: flex;
}
.drawer{
  background-color: grey;
}

.hamburgerButton {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  
}

@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .menuButton{
    display: none;
  }
}