.thirdBlock{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.dog{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -97px;
}
.dogImage{
    border-radius: 50%;
    max-width: 100px;
}
.cvBlock{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.cvBlockColumn {
    width: 100px;
}

.cvBlockText {
    margin-left: 20px;
    text-align: left;
}

.cards {
    width: 33%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 300px;
}

.innerCardTop {
    display: flex;
    justify-content: center;
}
.innerCardTop > img {
    width: 33%;
}
.innerCardBot {
    padding: 10px;
    background-color: #353535; 
}

.cardBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}