.footer{
  margin-top: 50px;
  background-color:#212121;
  display: flex;
  padding: 50px;
  /*z-index: 2;*/
  /*justify-content: space-between;*/

}
.hamburgerButton {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  
}
.bigBlock{
  /*background-color:pink;*/
  display: flex;
  flex-direction: column;
}
.firstBlock{
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
}
.secondBlock{
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}
.name{
  /*background-color: blue;*/
  width:75%;
  margin:5vh;
  



}
.photo{
  /*background-color: green;*/
  width:25%;
  margin:5vh;
  

  
}
.menu{
  /*background-color: red;*/
  width:33%;
  margin:5vh;
  
}
.work{
  /*background-color: yellow;*/
  margin:5vh;
  
}

@media only screen and (max-width: 768px) {
  .firstBlock{
    flex-direction: column;

  }
  .secondBlock{
    flex-direction: column;
  }
}