.looking {

  box-sizing: border-box;
 

  position: absolute;

  top: 37vh;

  left: 25px;
  right: 25px;

}

.looking h1 {
  font-size:calc(23px + 3vw);
}
.looking p {
  font-size:18px;
}

.thirdBlock{
  padding-top: 20px;
  display:flex;
  flex-wrap: wrap; 
  flex-direction: row; 
  
}
.skills{
  width: 100%;
}
.comunication{
  width: 33%;
  padding: 15px;
  box-sizing: border-box;
}

.lateral{
  width: 15%;
  padding: 15px;
  box-sizing: border-box;

}
.presentation{
  width:85%;
  padding: 15px;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .card{
    flex-direction: column;
    
  }
  .comunication{
    width: 100%;
  }
  .thirdBlock{
    flex-direction: column; 
  }
}